<div class="bg-primary pt-10 pb-21"></div>
<div class="mt-n22 px-6 container-fluid">
    <div class="row mt-2">
        <div class="col-lg-12 col-md-12 col-12">
            <div>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="mb-2 mb-lg-0">
                        <h3 class="mb-0  text-white"> <i class="bi bi-card-list"></i> Pending Approval For Project Creation</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-35px col-xl-3 col-lg-6 col-md-12 col-12">
            <div class="card white-block">
                <div class="card-body">
                    <div class="d-flex">
                        <div class="width-50">
                            <button class="btn btn-white">
                                <span class="active-text">Pending</span>
                            </button>
                        </div>
                        <div class="width-50">
                            <button class="btn btn-white m-l-17">
                                <span class="active-text">Completed</span>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="white-block mt-6">
                <ul class="top-cat-list">
                    <li>
                        <div>
                            <div class="top-cat-list__title">
                                <span class="sub_title">Project Creation</span> <span class="border-shapes">20</span>
                            </div>

                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="top-cat-list__title">
                                <span class="sub_title">Plan Purchase</span> <span class="border-shapes">20</span>
                            </div>

                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="top-cat-list__title">
                                <span class="sub_title">Leave Applicatoin</span> <span class="border-shapes">20</span>
                            </div>

                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="mt-35px col-xl-9 col-lg-6 col-md-12 col-12">
           <app-pending-table></app-pending-table>
        </div>

    </div>
</div>