<div class="bg-primary pt-10 pb-21"></div>
<div class="mt-n22 px-6 container-fluid">
    <div class="row mt-2">
        <div class="col-lg-12 col-md-12 col-12">
            <h3 class="mb-0 mt-2 text-white d-flex"> <i class="bi bi-card-list mr-10"></i>
                {{pending?'Pending ':'Completed  '}} {{title}}
            </h3>
        </div>
    </div>
    <div class="row mt-30px">
        <div class="col-xl-3 col-lg-6 col-md-12 col-12">
            <div class="card white-block">
                <div class="card-body">
                    <div class="d-flex">
                        <div class="width-50">
                            <button class="btn" [className]="pending ? 'pending-bg' : 'completed-bg'"
                                (click)="pendingCompleted('Pending')">
                                <span [className]="pending ? 'pending-bg-text' : 'completed-bg-text'">Pending</span>
                            </button>
                        </div>
                        <div class="width-50">
                            <button class="btn m-l-17" [className]="!completed ? 'completed-bg' : 'pending-bg'"
                                (click)="pendingCompleted('Completed')">
                                <span
                                    [className]="!completed ? 'completed-bg-text' : 'pending-bg-text'">Completed</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="white-block mt-6">
                <ul class="top-cat-list">
                    <li *ngFor="let list of data">
                        <div [className]="list.isactive?'top-cat-list__title active':'top-cat-list__title'"
                            (click)="onListItemClick(list)">
                            <span class="sub_title"> {{list.processName}} </span> <span
                                class="border-shapes">{{list.processTotal }}
                            </span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-xl-9 col-lg-6 col-md-12 col-12">
            <app-pending-table [tableData]="approvalItems"></app-pending-table>
        </div>

    </div>
</div>