<div class="offcanvas-header">
    <h5 id="offcanvas-title offcanvasRightLabel">History</h5>
    <button type="button" class="btn-close text-reset font-size-10"
        (click)="activeOffcanvas.dismiss('Cross click')"></button>
</div>
<div class="offcanvas-body">
    <div class="alert alert-warning mb-1 p-2" *ngFor="let item of historyList">
        <div class="hitory-comments">{{item.direction}}</div>
        <div class="pt-1 pb-1">
            <strong>{{item.value}}</strong>
            <small class="text-muted float-right text-white">
                <span
                    [ngClass]="item.status=='Completed'?'status':(item.status=='Reject')?'status bg-danger':'status bg-info'">
                    {{item.status}}</span>
            </small>
        </div>
        <div class="pt-1 pb-1">
            <small *ngIf="item.activityCompletionDate=='-'"><i class="bi bi-clock"></i><span class="ml-8px">-</span> </small>
            <small *ngIf="item.activityCompletionDate !='-'"><i class="bi bi-clock"></i> {{item.activityCompletionDate|
                date:'dd-MM-yyyy h:mm a ' }}</small>
        </div>
        <div class="pt-1 pb-1"><span><i class="bi bi-person"></i> {{item.ActivityCompletedBy}}</span></div>
    </div>
</div>