<div class="card mb-3">
    <div class="card-body overflow-auto">
        <table class="table table-sm table-hover">
            <thead>
                <tr class="text-nowrap">
                    <th>Activity Name</th>
                    <th>Initiated by</th>
                    <th>Initiated date</th>
                    <th>Action</th>
                    <th>History</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of tableData ;index as i;">
                    <td>{{item.processName}}<br>
                        <span class="hyper-link" (click)="viewDetails(item)">View Details
                        </span>
                    </td>
                    <td> {{item.initiatedbyname}}</td>
                    <td>{{item.processInitiatedDate | date:"dd-MM-yyyy"}}</td>
                    <td>
                        <div class="d-flex">
                            <span class="btn-icon btn-clr-success" *ngIf="!item.isCompleted && item.approval!=null">
                                <i class="bi bi-journal-check cursor-pointer" data-toggle="tooltip" 
                                    data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" ngbTooltip="Approve"
                                    aria-controls="offcanvasRight"
                                    (click)="onApprovalFlowClick('Approve','F',item)"></i>
                            </span>
                            <span class="btn-icon btn-clr-danger ps-2" *ngIf="!item.isCompleted  && item.reject!=null">
                                <i class="bi bi-clipboard-x cursor-pointer"  data-bs-toggle="offcanvas"
                                    data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" ngbTooltip="Reject"
                                    (click)="onApprovalFlowClick('Reject','R',item)"></i>
                            </span>
                            <span class="btn-icon btn-clr-blue ps-2"
                                *ngIf="!item.isCompleted   && (item.returnToInitiator!=null || item.return !=null) ">
                                <i class="bi bi-arrow-counterclockwise cursor-pointer" 
                                    data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" ngbTooltip="Return"
                                    aria-controls="offcanvasRight" (click)="onApprovalFlowClick('Return','I',item)"></i>
                            </span>
                            <span class="btn-icon btn-clr-ash ps-2">
                                <i class="bi bi-chat-left cursor-pointer"
                                    ngbTooltip="Collaboration" (click)="onCommentClick(item)"></i>
                            </span>

                        </div>
                    </td>
                    <td>
                        <span class="btn-icon btn-clr-blue">
                            <i class="bi bi-clock-history"  ngbTooltip="History"  aria-controls="ocHistory"
                                (click)="onHistoryClick(item)"></i>
                        </span>
                    </td>
                </tr>
                <tr class='no-records' *ngIf="tableData.length==0">
                    <td colspan='5'>No record found</td>
                </tr>
            </tbody>

        </table>
    </div>
</div>

<!-- Approval/Reject/Return to initiator -  offcanvas -->
<div class="offcanvas offcanvas-end" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
    id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel">{{approveRejectTitle}} </h5>
        <button #closeModal type="button" (click)="closeApprove()" class="btn-close text-reset font-size-10"
            data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <form [formGroup]="approvalForm">
            <div class="form-group">
                <textarea class="form-control" formControlName="approval" id="example1"
                    placeholder="Enter the comments (Max 500)" minlength="2" maxlength="500" rows="3"></textarea>
            </div>
            <div class="row mt-6" *ngIf="activityName ==='I'">
                <div class="col-6 col-md-8">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" [(ngModel)]="isReturnInitator"
                            [ngModelOptions]="{standalone: true}" [checked]="isReturnInitator"
                            [disabled]="isDisableReturn" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Return to Initiator
                        </label>
                    </div>
                </div>
                <div class="col-6 col-md-4"> <button type="button" (click)="onSubmit()"
                        [disabled]="approvalForm.invalid" class="btn btn-primary float-right"><i
                            class="bi bi-send"></i></button></div>
            </div>
            <div class="row mt-6" *ngIf="activityName !=='I'">
                <div class="col-12 col-md-12"> <button type="button" (click)="onSubmit()"
                        [disabled]="approvalForm.invalid" class="btn btn-primary float-right"><i
                            class="bi bi-send"></i></button></div>
            </div>
        </form>
    </div>
</div>