<div class="card">
    <div class="card-body overflow-auto">
        <table class="table">
            <thead>
                <tr>
                    <th>Activity Name</th>
                    <th>Initiated by</th>
                    <th>Initiated date</th>
                    <th>Action</th>
                    <th>History</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of tableData; index as i;">
                    <td>{{item.processName}}</td>
                    <td>{{item.initiatedbyname}}</td>
                    <td>{{item.processInitiatedDate}}</td>
                    <td>
                        <div class="d-flex">
                            <span class="btn-icon btn-clr-success">
                                <i class="bi bi-journal-check cursor-pointer" data-toggle="tooltip" title="Approve"
                                    data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                                    aria-controls="offcanvasRight" (click)="onApprovalFlowClick('Approve',item)"></i>
                            </span>
                            <span class="btn-icon btn-clr-danger ps-2">
                                <i class="bi bi-clipboard-x cursor-pointer" title="Reject" data-bs-toggle="offcanvas"
                                    data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"
                                    (click)="onApprovalFlowClick('Reject',item)"></i>
                            </span>
                            <span class="btn-icon btn-clr-blue ps-2">
                                <i class="bi bi-arrow-counterclockwise cursor-pointer" title="Return"
                                    data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                                    aria-controls="offcanvasRight" (click)="onApprovalFlowClick('Return',item)"></i>
                            </span>                            

                        </div>
                    </td>
                    <td>
                        <span class="btn-icon btn-clr-blue">
                            <i class="bi bi-clock-history" title="History" data-bs-toggle="offcanvas"
                                data-bs-target="#ocHistory" aria-controls="ocHistory"
                                (click)="onHistoryClick(item)"></i>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Approval/Reject/Return to initiator -  offcanvas -->
<div class="offcanvas offcanvas-end" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
    id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel">{{approveRejectTitle}} </h5>
        <button type="button" class="btn-close text-reset font-size-10" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        ...
    </div>
</div>

<!-- History offcanvas -->
<div class="offcanvas offcanvas-end" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" id="ocHistory"
    aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel">History</h5>
        <button type="button" class="btn-close text-reset font-size-10" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div *ngFor="let item of historyList">
            {{item.userRole}} -
            {{item.value}} -
            {{item.status}}
        </div>
        <div *ngIf="historyList.length==0">
            No history!
        </div>
    </div>
</div>