<div class="card">
    <div class="card-body overflow-auto">
        <table class="table table-sm table-hover">
            <thead>
                <tr class="text-nowrap">
                    <th>Activity Name</th>
                    <th>Initiated by</th>
                    <th>Initiated date</th>
                    <th>Action</th>
                    <th>History</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of tableData; index as i;">
                    <td>{{item.processName}}<br>
                        <span class="hyper-link" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop">View Details </span>
                    </td>
                    <td>{{item.initiatedbyname}}</td>
                    <td>{{item.processInitiatedDate | date:"dd-MMM-yyyy"}}</td>
                    <td>
                        <div class="d-flex">
                            <span class="btn-icon btn-clr-success" *ngIf="status !=='Completed' && item.approval!=null" >
                                <i class="bi bi-journal-check cursor-pointer" data-toggle="tooltip" title="Approve"
                                    data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" ngbTooltip="Approve"
                                    aria-controls="offcanvasRight"
                                    (click)="onApprovalFlowClick('Approve','F',item)"></i>
                            </span>
                            <span class="btn-icon btn-clr-danger ps-2" *ngIf="status !=='Completed'  && item.reject!=null">
                                <i class="bi bi-clipboard-x cursor-pointer" title="Reject" data-bs-toggle="offcanvas"
                                    data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" ngbTooltip="Reject"
                                    (click)="onApprovalFlowClick('Reject','R',item)"></i>
                            </span>
                            <span class="btn-icon btn-clr-blue ps-2" *ngIf="status !=='Completed'  && item.returnToInitiator!=null">
                                <i class="bi bi-arrow-counterclockwise cursor-pointer" title="Return"
                                    data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" ngbTooltip="Return"
                                    aria-controls="offcanvasRight" (click)="onApprovalFlowClick('Return','I',item)"></i>
                            </span>
                            <span class="btn-icon btn-clr-ash ps-2">
                                <i class="bi bi-chat-left cursor-pointer" title="Collaboration"
                                    data-bs-toggle="offcanvas" data-bs-target="#commentscanvas"
                                    aria-controls="offcanvasRight" ngbTooltip="Collaboration"
                                    (click)="onApprovalFlowClick('Collaboration','C',item)"></i>
                            </span>

                        </div>
                    </td>
                    <td>
                        <span class="btn-icon btn-clr-blue">
                            <i class="bi bi-clock-history" title="History" data-bs-toggle="offcanvas"
                                data-bs-target="#ocHistory" aria-controls="ocHistory"
                                (click)="onHistoryClick(item)"></i>
                        </span>
                    </td>
                </tr>
                <tr class='no-records' *ngIf="isTableShow">
                    <td colspan='5'>No record found</td>
                </tr>
            </tbody>

        </table>
    </div>
</div>
<div class="loading" *ngIf="isLoading"></div>

<!-- Approval/Reject/Return to initiator -  offcanvas -->
<div class="offcanvas offcanvas-end" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
    id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel">{{approveRejectTitle}} </h5>
        <button #closeModal type="button" (click)="closeApprove()" class="btn-close text-reset font-size-10"
            data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <form [formGroup]="approvalForm">
            <div class="form-group">
                <textarea class="form-control" formControlName="approval" id="example1"
                    placeholder="Enter the comments (Max 500)" minlength="2" maxlength="500" rows="3"></textarea>
            </div>
            <div class="mt-6 float-right">

                <button type="button" (click)="onSubmit()" [disabled]="approvalForm.invalid" class="btn btn-primary"><i
                        class="bi bi-send"></i></button>
            </div>
        </form>
    </div>
</div>

<!-- comments offcanvas -->
<div class="offcanvas offcanvas-end" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
    id="commentscanvas" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel">{{approveRejectTitle}} </h5>
        <button #closeModalComments type="button" (click)="closeApprove()" class="btn-close text-reset font-size-10"
            data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            <ul class="chat">
                <li *ngFor="let item of commentList; index as i;">
                    <div class="chat-body">
                        <div><strong>{{item.createdByName}}</strong>
                            <small class="text-muted float-right">{{item.createdDate|date:"dd-MMM-yyyy"}}</small>
                        </div>
                        <p>{{item.notes}}</p>
                    </div>
                </li>
            </ul>
        </div>
        <form [formGroup]="commentsForm" class="chat-input">
            <div class="input-group">
                <textarea class="form-control" formControlName="comments" id="example1" type="text"
                    placeholder="Enter the comments (Max 500)" minlength="2" maxlength="500" rows="3"></textarea>
                <div class="input-group-append m-auto">
                    <button type="button" (click)="onSubmit()" [disabled]="commentsForm.invalid"
                        class="btn btn-primary">
                        <i class="bi bi-send"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- History offcanvas -->
<div class="offcanvas offcanvas-end" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" id="ocHistory"
    aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel">History</h5>
        <button type="button" class="btn-close text-reset font-size-10" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="row " *ngFor="let item of historyList">
            <div class="col-xs-6 col-sm-8">
                <div id="text1">
                    <span class="hitory-comments">{{item.direction}}</span>
                    <br>
                    <label class="history-subtitle">{{item.value}} </label>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4">
                <div id="text3" class="status">
                    <span> {{item.status}}</span>
                </div>
            </div>

            <div class="col-xs-6 col-sm-8 mt-6">
                <div id="text1">
                    <span class="hitory-comments">{{item.activity}}</span>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 mt-6">
                <div id="text3">
                    <span class="float-right"><i class="bi bi-calendar-check-fill"></i> {{item.activityCompletionDate}}
                    </span>
                </div>
            </div>

            <hr>
        </div>
    </div>
</div>


<!-- Hyperlink -->

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <iframe></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Understood</button>
            </div>
        </div>
    </div>
</div>