/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
/* You can add global styles to this file, and also import other style files */
body{
    background-color: #e4e4f4 !important;    
}
.bg-primary {
    background-color: #802081 !important;
}

.pt-10 {
    padding-top: 4rem !important;
}

.px-6 {
    padding-right: 2rem !important;
    padding-left: 2rem !important;
}

.text-white {
    --bs-text-opacity: 1;
    color: rgba(255, 255, 255, 1) !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}


.pending-bg{
    background-color: #802081;
    width: 150px;
    height: 50px;
    border: 1px solid #802081;
    border-radius: 4px;
}
.pending-bg-text {
    color: #ffffff;
}

.completed-bg-text {
    color: #000000;
}
.completed-bg{
    background-color: #e7c5e7;
    width: 150px;
    height: 50px;
    border: 1px solid #e7c5e7;
    border-radius: 4px;
}
.mt-6 {
    margin-top: 1rem !important;
}

.width-50 {
    width: 100%;
}

.m-l-17 {
    margin-left: 17px;
}

.active-text {
    color: #ffffff;
}
.active-textcompleted {
    color: red;
}

.pb-21 {
    padding-bottom: 5.1rem !important;
}

.mt-n22 {
    margin-top: -8rem !important;
}

.mt-30px {
    margin-top: 30px;
}

.border-shape {
    border: 1px solid;
    padding: 0px 5px 1px 5px;
}


.top-cat-list__title {
    font-weight: 600;
    color: #171717;
    margin-bottom: 4px;
    border-bottom: 1px solid #eee;
    padding: 15px;
    cursor: pointer;
    &.active{
        background-color:#FFFADE;
    }
}

.sub_title {
    font-size: 18px;
}

.top-cat-list__subtitle {
    color: #b9b9b9;
}

.top-cat-list__subtitle,
.top-cat-list__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: -.4px;
}

.white-block {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.0196078431),
        0 0 2px rgba(0, 0, 0, 0.0509803922), 0 1px 4px rgba(0, 0, 0, 0.0784313725);
    border: none !important;
}

.white-block ul {
    list-style: none !important;
    padding-left: 0px !important;
}

.border-shapes {
    border: 1px solid #fff;
    padding: 6px 8px;
    border-radius: var(--bs-border-radius) !important;
    background: #ffc1079e;
    width: 30px;
    text-align: center;
}


.overflow-auto {
    overflow: auto;
}

.offcanvas-header {
    border-bottom: 1px solid #dadce0;
}
.offcanvas.offcanvas-end{
    width: 600px !important;
}

.font-size-10{
    font-size: 10px;
}
.cursor-pointer{
    cursor: pointer;
}
@media screen and (max-device-width: 480px) {
    .btn-white {
        width: 130px;
    }
}

@media screen and (max-device-width: 640px) and (orientation: landscape) {
    .btn-white {
        width: 130px;
    }
}

.mr-10{
    margin-right: 10px;
}
.float-right{
    float:right;
}
.btn-icon{
    cursor: pointer;
    padding: 0 2px;
    font-weight: bolder;
    font-size: 1.675rem;
    &.btn-clr-success{
        color: #00BBB6;
    }
    &.btn-clr-danger{
        color: #EC5663;
    }
    &.btn-clr-blue{
        color: #0072CC;
    }
    &.btn-clr-ash{
        color: #7076A6;
    }
    &.btn-clr-yellow{
        color: #F9F871;
    }
}


.status{
    background-color: #49f00680;
    padding: 3px 0px;
    border-radius: 50px;
    text-align: center;
    width: 105px;
    border: 2px solid #75b798;
    font-size: 12px;
    font-weight: 600;;
    float: right;
}


.history-subtitle{
    color: #802081 !important;
    font-weight: 600;
}

.m-t-b-3{
    margin: 4px 0px 10px 0px;
}

.hitory-comments{
    color: #73787e;
}

.btn-primary{
    background-color: #802081 !important;
    border-color: #802081 !important;
}
.form-control{
    box-shadow: none !important;
}

.justify-content-center{
    justify-content: center  !important;
}
.no-records{
    text-align: center;
}

.hyper-link{
    text-decoration: underline;
    text-decoration-color: blue;
    cursor: pointer;
}

.iframe-modal{
    --bs-modal-width: 1100px !important;
}
